body {
    padding-top: 36px;
    background: #eee;
    font-family: Helvetica;
}

.wrap {
    display: grid;
    grid-template-areas: 'sidebar ... content content';
    margin: auto;
    width: 500px;
}

.link {
    text-decoration: none;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}
